@model QuanLyLinhKienDienThoai.Models.THUONGHIEU

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>THUONGHIEU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINHTH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MATHUONGHIEU }) |
    @Html.ActionLink("Back to List", "Index")
</p>
